@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
h4{
    font-size: 20px;
}
.form-wrapper{
    background-color: #F8F8F8;
}
label{
    margin-right: 10px;
    font-size: 18px;
    line-height: 21px;
    width:90px;
    text-align: right;
}
input{
    margin-bottom: 20px;
    padding: 3px 10px;
    width: 300px;
    height: 44px;
    background: #DCDCDC;
    border-radius: 2px;
    border: none;
    font-size: 18px;
}
.savings-input{
    Width: 125px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn-custom{
    color: white;
    background-color: #59A5FF;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
}
#calculate-btn{
    width: 199px;
    height: 51px;
}
#savings-btn{
    width: 173px;
    height: 44px;
}
.notify{
    font-size: 18px;
}